@page "/"
@namespace MatBlazorTemplate.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using EmbeddedBlazorContent

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Material Design Blazor Template</title>
    <base href="~/" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    @Html.EmbeddedBlazorContent()
</head>
<body class="mat">
    <app style="display: flex;">
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

    <script src="_framework/blazor.server.js"></script>
</body>
</html> 